@import "@fontsource/rubik";
.hebrow{
direction: rtl;
margin-right: 140px;
background-color: #083356;
}
.english{
direction: ltr;
margin-left: 140px;
background-color: #083356;
}
html{
  background-color: #083356;;
}
.body{
  background-color: #083356;
}
    .logoCompany {
      margin-top: 47px;
      width: 150px;
      height: 43px;
      // margin-left: 140px;
  }
  .textAbout {
    width: 670px;
    height: 128px; 
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin-top: 45px;
    // margin-left:  140px;
    font-family: 'Rubik';
    font-style: normal;
    color: #FFFFFF;
  }
  .call {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    font-size: 30px; 
    line-height: 36px; 
    display: flex;
    align-items: center; 
    text-align: right; 
    color: #FFFFFF;
    margin-top: 50px; 
    // margin-left:  140px;
    height: 55px;
}
// .calling{
//   display: none;
// }
.callingImageGroup {
  margin-top: 17px;
  // margin-left:  140px;
  width: 344px;
  height: 44px;
  display: flex;
}
.callingImageGroupMobile {
  display: none;
}
.timer {
  font-weight: normal;
  font-family: 'Rubik';
  font-size: 30px;
  color: #FFFFFF;
  // margin-left:  140px;
  margin-top:30px;
  height:55px ;
}
// .timerNum{
//   display: none;
// }
.buttonCall{
  margin-top:28px ;
  // margin-left:  140px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: 123px;
  height: 45px;
  left: 1657px;
  background: #FC5A5A;
  border-radius: 6px;
    }
.textKnown {
  width: 665px;
  // height: 57px;
  // margin-left: 140px;
  margin-top: 35px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #E8ECEF;
  }
.callsImage {
    margin-right:50px;
    margin-top: 230px;
    width: 574px;
    height: 346px;
    display: flex;
}
  // #button-hangup{
  //   margin-top: -14vh;
  //   position: absolute;
  //   width: 7vw;
  //   height: 6vh;
  //   background: #FC5A5A;
  //   border-radius: 6px;
  //   left: 8.5vw;
  //   /* top: 63.5vh; */
  //   color: #E8ECEF;
  //   font-family: 'Rubik';
  //   font-size: 1.5vw;
  // }

  
@media only screen and (max-width: 1500px)
{
  .callsImage {
    margin-right:50px;
    margin-top: 230px;
    width: 498px;
    height: 300px;
    display: flex;
 }
}

@media only screen and (max-width: 1410px)
{
  .callsImage {
    margin-right:50px;
    margin-top: 230px;
    width: 373px;
    height: 225px;
 }
}

@media only screen and (max-width: 1290px)
{
  .callsImage {
   display: none;
 }
}

@media only screen and (max-width: 600px){
  .hebrow{
    margin-right: auto;
    }
    .english{
    margin-left: auto;
    }
.body{
  padding-left: 0px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}
.logoCompany {
  width: 98px;
  height: 28px;
  margin: 30px auto auto auto!important;
  text-align: center;
}
.textAbout {
  margin: 22px auto auto auto !important;
  font-family: 'Rubik'!important;
  text-align: center!important;
  color: #FFFFFF!important;
  align-items: center !important;
  width:auto;
  height: 57px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
} 
.call {
  font-style: normal !important;
  font-family: 'Rubik' !important;
  font-style: italic!important;
  font-weight: 500!important;
  align-items: center!important;
  text-align: center!important;
  color: #FFFFFF!important;
  margin: 25px auto auto auto !important;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  height: 24px;
}
.callingImageGroup {
  display: none !important;
  width: 0px;
  height: 0px;
}
.callingImageGroupMobile {
  display: flex;
  margin: 15px auto auto auto !important;
  width: 275px;
  height: 35px;
}
.timer {
  font-weight: normal !important;
  font-family: 'Rubik' !important;
  font-size: 20px;
  color: #FFFFFF!important;
  margin:15px auto auto auto !important;
  height: 24px;
  }
.buttonCall{ 
  margin: 25px auto auto auto !important;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: 123px;
  height: 45px;
  background: #FC5A5A;
  border-radius: 6px;
}
.textKnown {
  margin: 20px auto auto auto !important;
  font-family: 'Rubik'!important;
  font-style: normal!important;
  font-weight: normal!important;
  text-align: center!important;
  color: #E8ECEF!important;
  width: 316px;
  // height: 118px;
  font-size: 12px;
  line-height: 20px;
}
.callsImage{
  display: flex;
  width: 234px !important;
  height: 144px !important;
  justify-self: center;
  margin: auto;
}
}